<%- include('partials/head') %>

<main>
  <% boards.forEach(board => { %>
  <article>
    <h2><%= board.name %></h2>
    <span><%= board.likes %></span> <span>likes</span>
    <img src="<%= board.picture %>" alt="<%= board.name %>" />
    <a href="/board/<%= board.id %>">Meer info</a>
  </article>
  <% }) %>
</main>

<%- include('partials/foot') %>
